
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1461924134'); /* IE9*/
  src: url('iconfont.eot?t=1461924134#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1461924134') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1461924134') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1461924134#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-lock:before { content: "\e64d"; }
.icon-write:before { content: "\e64a"; }
.icon-window:before { content: "\e649"; }
.icon-view:before { content: "\e648"; }
.icon-userprofile:before { content: "\e647"; }
.icon-trash:before { content: "\e646"; }
.icon-timer:before { content: "\e645"; }
.icon-sun:before { content: "\e644"; }
.icon-stats02:before { content: "\e643"; }
.icon-stats:before { content: "\e642"; }
.icon-sound:before { content: "\e641"; }
.icon-shuffle:before { content: "\e640"; }
.icon-shoppingbag:before { content: "\e63f"; }
.icon-share:before { content: "\e63e"; }
.icon-setting:before { content: "\e63d"; }
.icon-send:before { content: "\e63c"; }
.icon-search:before { content: "\e63b"; }
.icon-repeat:before { content: "\e63a"; }
.icon-question:before { content: "\e639"; }
.icon-print:before { content: "\e638"; }
.icon-previous:before { content: "\e637"; }
.icon-play:before { content: "\e636"; }
.icon-piechart:before { content: "\e635"; }
.icon-pause:before { content: "\e634"; }
.icon-ok:before { content: "\e633"; }
.icon-next:before { content: "\e632"; }
.icon-newspaper:before { content: "\e631"; }
.icon-newspaperalt:before { content: "\e630"; }
.icon-newpost:before { content: "\e62f"; }
.icon-mute:before { content: "\e62e"; }
.icon-mobile:before { content: "\e62d"; }
.icon-menu:before { content: "\e62c"; }
.icon-map:before { content: "\e62b"; }
.icon-mapalt:before { content: "\e62a"; }
.icon-mail:before { content: "\e629"; }
.icon-locationpin:before { content: "\e627"; }
.icon-gridalt:before { content: "\e61e"; }
.icon-grid:before { content: "\e61f"; }
.icon-home:before { content: "\e620"; }
.icon-inbox:before { content: "\e621"; }
.icon-junk:before { content: "\e622"; }
.icon-like:before { content: "\e623"; }
.icon-link:before { content: "\e624"; }
.icon-list:before { content: "\e625"; }
.icon-location:before { content: "\e626"; }
.icon-gallery:before { content: "\e61d"; }
.icon-folder:before { content: "\e61c"; }
.icon-exclamation:before { content: "\e61b"; }
.icon-commentalt:before { content: "\e612"; }
.icon-comment:before { content: "\e613"; }
.icon-dashboard:before { content: "\e614"; }
.icon-briefcase:before { content: "\e60b"; }
.icon-bookmark:before { content: "\e60a"; }
.icon-bookmarkalt:before { content: "\e609"; }
.icon-add:before { content: "\e607"; }
.icon-cloud:before { content: "\e611"; }
.icon-clock02:before { content: "\e610"; }
.icon-clock:before { content: "\e60f"; }
.icon-chat:before { content: "\e60e"; }
.icon-cancel:before { content: "\e60d"; }
.icon-camera:before { content: "\e60c"; }
.icon-dashboard02:before { content: "\e615"; }
.icon-delete:before { content: "\e616"; }
.icon-enlargealt:before { content: "\e617"; }
.icon-enlarge:before { content: "\e618"; }
.icon-equilizer01:before { content: "\e619"; }
.icon-equilizer02:before { content: "\e61a"; }
